*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header css */

header{
    background-color: #3161e0;
    height: 75vh;
    border: 1px solid lime;
}

.flex-header{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

header figure img{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid yellow;
    display: block;
    
}

.accedi{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid yellow;
    display: block;
    
}

nav{
    background-color: purple;
    align-items: center;
    margin-top: 20px;
    margin-inline: 10%;
}

nav>ul{
    list-style-type: none;
}

li{
    height: 30px;
    width: 100px;
    background-color: grey;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
}

.flex-list{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

nav{
    border: 1px solid red;
}

h1{
    width: 500px;
    height: 100px;
    background-color: grey;
}

.flex-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-self: center;
    background-color: rgb(255, 196, 0);
}

div.flex-title > p{
    width: 500px;
    height: 150px;
    background-color: gray;
}

.buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-bottom: 10px;

}

.bottone{
    width: 200px;
    height: 50px;
    background-color: white;
    border: 1px solid black;
}




/* Main css */

.section-flex{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-block: 100px;
}

section.section-flex figure img{
    width: 500px;
    height: 400px;
    background-color: red;
}

div.section-one-text h2{
    width: 500px;
    height: 350px;
    background-color: grey;
}

div.section-one-text p{
    margin-top: 30px;
    width: 500px;
    height: 150px;
    background-color: rgb(114, 52, 52);
}

.section-flex-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 200px;
    padding-block: 100px;
    background-color: lightgray;
}

section.section-flex-reverse figure img{
    width: 500px;
    height: 400px;
    background-color: red;
}


section > h2{
    width: 800px;
    height: 50px;
    background-color: grey;
}

section > p{
    width: 800px;
    height: 90px;
    background-color: rgb(114, 45, 45);
}

section > figure.just-chilling > img{
    width: 900px;
    height: 400px;
    background-color: green;
}

section > h3{
    width: 400px;
    height: 40px;
    background-color: grey;
}

.chilling-flex{
    display: flex;
    align-items: center;
    padding-block: 100px;
    flex-direction: column;
    gap: 30px;
}