*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #3161e0;
    height: 75vh;
    border: 1px solid lime;
}

.flex-header{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

header figure img{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid yellow;
    display: block;
    
}

.accedi{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid yellow;
    display: block;
    
}

nav{
    background-color: purple;
    align-items: center;
    margin-top: 20px;
    margin-inline: 10%;
}

nav>ul{
    list-style-type: none;
}

li{
    height: 30px;
    width: 100px;
    background-color: grey;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
}

.flex-list{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

nav{
    border: 1px solid red;
}

h1{
    width: 500px;
    height: 100px;
    background-color: grey;
}

.flex-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-self: center;
    background-color: rgb(255, 196, 0);
}

p{
    width: 500px;
    height: 150px;
    background-color: gray;
}

.buttons{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-bottom: 10px;

}

.bottone{
    width: 200px;
    height: 50px;
    background-color: white;
}