*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #3161e0;
    height: 75vh;
    padding-inline: 10%;
    border: 1px solid lime;
}

.flex-header{
    display: flex;
    flex-direction: column;
}

header figure img{
    width: 100px;
    height: 50px;
    background-color: red;
    border: 1px solid yellow;
    display: block;
    
}

nav{
    background-color: purple;
    align-items: center;
    margin-top: 20px;
}

nav>ul{
    list-style-type: none;
}

li{
    height: 30px;
    width: 100px;
    background-color: grey;
}

.flex-nav{
    display: flex;
    justify-content: space-between;
}

.flex-list{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

nav{
    border: 1px solid red;
}

h1{
    width: 500px;
    height: 100px;
    background-color: grey;
}

.flex-title{
    display: flex;
    flex-direction: column;
}